@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  background-color: #f5f5f5;
}

main {
  margin: 5px;
}

main,
#app * {
  font-family: "Noto Sans", sans-serif;
}

#app .stats {
  display: grid;
  gap: 5px;
  grid-template-columns: minmax(25%, min-content) repeat(3, 1fr);
  font-size: 1.7rem;
  align-items: center;
  padding: 5px;
}

#app .stats > * {
  text-align: center;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

#app .stats > *:first-child {
  font-size: 4rem;
  grid-row: 1 / span 2;
  padding: 5px;
}

#app .stats .stats-title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

#app .editor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  position: relative;
  padding: 10px;
  /* margin: 5px; */
}

#app .editor textarea {
  background-color: transparent;
  padding: 0 0 15px 0;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  height: 400px;
  line-height: 1.7;
  font-size: inherit;
}

#app .editor textarea::placeholder {
  font-style: italic;
}

#docs {
  margin: 45px 10px;
}

#docs h1,
#docs footer {
  text-align: center;
}

#docs footer * {
  margin: 2.5px 0;
}

#docs h3 {
  margin-bottom: 6px;
}

#docs p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 0;
}

@media only screen and (min-width: 700px) {
  main {
    width: 700px;
    margin: auto;
  }
}
