:root {
  --bg: #f5f5f5;
  /* --bg: #fbf8f0; */
  --card-bg: #ffffff;
  --card-bg-light: #fefefe;
  --card-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --card-corner-radius: 3px;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
}

body {
  background-color: var(--bg);
}

main {
  margin: 5px;
}

#app * {
  font-family: inherit;
}

#app .stats {
  font-size: 1.7rem;
  align-items: center;
  padding: 5px;
}

#app .stats .counter {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#app .stats .counter-title {
  text-transform: uppercase;
  font-size: 0.8rem;
}

#app .stats .divider {
  width: 1px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.2);
}

#app .stats .divider::before {
  content: "\200B";
}

#app .stats.basic-stats {
  display: grid;
  gap: 5px;
  grid-template-columns: minmax(25%, min-content) repeat(3, 1fr);
}

#app .stats.basic-stats .counter-total {
  font-size: 4rem;
  padding: 5px;
  line-height: 1.2em;
}

#app .more-stats-container {
  display: grid;
  grid-template-columns: auto;
  column-gap: 10px;
  row-gap: 10px;
  margin: 20px auto;
}

#app .stats.more-stats {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr auto) 1fr;
  padding: 10px 0;
  background-color: var(--card-bg-light);
  box-shadow: var(--card-shadow);
  border-radius: var(--card-corner-radius);
  margin: auto;
}

#app .editor {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: var(--card-bg);
  position: relative;
  padding: 10px;
  margin: 5px auto;
}

#app .editor textarea {
  background-color: transparent;
  padding: 0 0 15px 0;
  width: 100%;
  outline: none;
  border: none;
  resize: none;
  height: 350px;
  line-height: 1.7;
  font-size: inherit;
}

#app .editor textarea::placeholder {
  font-style: italic;
}

#docs {
  margin: 45px 10px;
}

#docs h1,
#docs footer {
  text-align: center;
}

#docs footer * {
  margin: 2.5px 0;
}

#docs h3 {
  margin-bottom: 6px;
}

#docs p {
  text-align: justify;
  line-height: 1.5;
  margin-top: 0;
}

@media only screen and (min-width: 700px) {
  main {
    width: 700px;
    margin: auto;
  }

  #app .more-stats-container {
    grid-template-columns: 1fr 1fr;
  }
}
